@font-face {
    font-family: 'Night Machine';
    src: url("../fonts/Night Machine.otf") format("opentype");
}
@font-face {
    font-family: Lato2;
    src: url("/fonts/Lato-Regular.ttf") format("truetype");
}