@charset "utf-8";


@font-face {
	font-family: Hey August; 
	src: url(../fonts/font/Hey\ August.ttf) format(truetype);
  }
  @font-face {
	font-family: Black3; 
	src: url(../fonts/font/NexaRustSlab-Trial-Black3.ttf) format(truetype);
  }


  
  
 
  
  
  

  

  
  a {
	   text-decoration: none;
	   color: #9acd91;
   }

  
   .title {
	   position: relative;
	   width: 100%;
	   text-align: center;
	   top: 10%;
	   left: 50%;
	   transform: translate(-50%, -45%);
   }
   .title img {
	   width: 50%;
   }
   .title h1, .title h1::before, .title h1::after {
	   color: white;
	   line-height: 1.1em;
	   text-align: center;
	   font-family: 'Gloss_And_Bloom';
	   font-weight: 200;
	   font-size: 40px;
	   letter-spacing: 2px;
   }
   .registerButton {
	   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	   position: fixed;
	   top: 45%;
	   left: 40%;
   }
   
.social-links{
	width:20px;
	padding-left:150px;
	display: flex;
  }
   .social-links a {
	font-size: 28px;
   
	background: #222636;
	color: #eee;
	
	padding: 5px 0;
	
	margin-right: 50px;
	border-radius: 50%;
	text-align: center;
	width: 66px;
	height: 36px;
	transition: 0.3s;
   }
   .follow{
font-size:20px;
padding-top:60px;
padding-left:60px;
color:white;
font-family: black3;
   }
   #mainbox {
	
	background-image: url(../images/index/index5.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-blend-mode: multiply;
  background-color:grey;
  opacity: 90%;
	height: 200px;
	animation: change 15s 5;
	transition: 3s ease-in-out;
  }
  
  @keyframes change {
	0%{
		background-image: url(../images/index/index3.jpg);
	}
	40% {
	  background-image: url(../images/index/index2.jpg)
	}
  
	70% {
	  background-image: url(../images/index/index12.jpg)
	}
  100%{
	background-image: url(../images/index/index4.jpg);
  }
}
  
   #logo {
	   position: relative;
	   z-index: 1;
   }
   #logo img {
	   width: 300px;
	   height: 100px;
	   margin-top: 20px;
   }
   
 
  @media (max-width: 800px) {
  
 
  
  .title {
	position: relative;
	width: 100%;
	text-align: center;
	top: 300px;
	left: 200px;
   font-family: 'Hey August';
	transform: translate(-50%, -45%);
}
.title h1{
	background: white; 
	line-height: 1.1em;
	text-align: center;
	font-family:'Hey August';

	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 50px;
	background-size: 100% 100%;
}
.title span{
color:rgb(0, 129, 249);
   font-family:'Hey August';
}
 .registerButton {
	font-family: black3;
	position: relative;
	top: 50%;
	
	letter-spacing: 1px;
	text-align: center;
}
  
  }
  .box {
	  position: relative;
	  height: 100vh;
	  overflow: hidden;
  }
  #mainbox {
	  position: absolute;
	  width: 100%;
	  height: 70vh;
	  overflow: hidden;
	  background-color: black;
  }
  #imgbox {
	  width: 400%;
	  height: 70vh;
	  position: relative;
	  left: 50%;
	  -webkit-animation: slideshow 40s infinite;
	  animation-delay: 8s;
	  overflow: hidden;
	  opacity: 0.4;
	  background-attachment: fixed;
  }
  #imgbox img{
	  width: 25%;
	  float: left;
  }
  
  
  
  
  @keyframes slideshow {
	  0%{
		  left: 0;
	  }
	  16.6%{
		  left: -100%;
	  }
	  33.3%{
		  left: -200%;
	  }
	  50%{
		  left: -300%;
	  }
	  66.6%{
		  left: -200%;
	  }
	  83.3%{
		  left: -100%;
	  }
	  100%{
		  left: 0%;
	  }
  
  }
  /* logo and stuff */ 
  .logo {
	  right: 0px;
	  left: 0px;
  }
  .mainIcons {
	  position: absolute;
	  height: 15%;
	  width: 35%;
	  left: 10px;
	  top: 10px;
	  background-image: url(logo.png);
	  background-size: 100% 100%;
	  background-repeat: no-repeat;
  }
  
  
  /*.aboutHead hr {
	  width: 30%;
	  height: 1px;
	  border-top: 1px solid black;
	  margin-bottom: 35px;
  }
  /*.aboutImg {
	  width: 50%;
	  height: 100%;
	  display: table-cell;
	  background: url('../images/aboutImg.jpg');
	  background-attachment: fixed;
	  background-size: 100% 100%;
  }
  */
  
 
  
  
 
@media (max-width: 844px) {

 .logo {
 	position: fixed;
 	z-index: 1;
 	
 }
 .logo img {
 	width: 100px;
 	height: 200px;
 }
 .logo img:nth-child(4) {
 	margin-right: 20px;
 }

 }
/* section reset style */
figure {
	padding-left: 8px !important;
	margin: auto;
}
@media (min-width: 800px) { 
.content article {
	padding: 50px 0;
	max-width: 90%;
	margin: 0 auto;
	text-align: center;
}
}
@media (max-width: 800px) {
.content article {
	padding: 20px 0;
	max-width: 100%;
	margin: 0 auto;
	text-align: center;
}
}

img {
	width: 100%;
	height: 100%;
}
/* front page image carousel */
@media (min-width: 800px) {
.box {
	position: relative;
	height: 100vh;
	overflow: hidden;
}
#mainbox {
	
	background-image: url(../images/index/index5.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-blend-mode: multiply;
  background-color:grey;
  opacity: 90%;
	height: 700px;
	animation: change 15s 5;
	transition: 3s ease-in-out;
  }
  
  @keyframes change {
	0%{
		background-image: url(../images/index/index3.jpg);
	}
	40% {
	  background-image: url(../images/index/index2.jpg)
	}
  
	70% {
	  background-image: url(../images/index/index12.jpg)
	}
  100%{
	background-image: url(../images/index/index4.jpg);
  }
  

}
#imgbox {
	width: 400%;
	height:1500px;
	position: relative;
left: 50%;
	-webkit-animation: slideshow 200s infinite;
	animation-delay: 8s;
	overflow: hidden;
	opacity: 0.4;
	background-attachment: fixed;
}
#imgbox img{
	width: 25%;
	float: left;

}
}
@media (max-width: 800px) {
.box {
	position: relative;
	height: 100vh;
	overflow: hidden;
}
#mainbox {
	position: absolute;
	width: 100%;
	height: 120vh;
	overflow: hidden;
	background-color: black;
}
#imgbox {
	width: 400%;
	height: 70vh;
	position: relative;
	left: 50%;
	-webkit-animation: slideshow 40s infinite;
	animation-delay: 8s;
	overflow: hidden;
	opacity: 0.4;
	background-attachment: fixed;
}
#imgbox img{
	width: 25%;
	float: left;
}

}


@keyframes slideshow {
	0%{
		left: 0;
	}
	16.6%{
		left: -100%;
	}
	33.3%{
		left: -200%;
	}
	50%{
		left: -300%;
	}
	66.6%{
		left: -200%;
	}
	83.3%{
		left: -100%;
	}
	100%{
		left: 0%;
	}

}
/* logo and stuff */ 
.logo {
	right: 0px;
	left: 0px;
}
.mainIcons {
	position: absolute;
	height: 15%;
	width: 35%;
	left: 10px;
	top: 10px;
	background-image: url(logo.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.logo {
	right: 0px;
	left: 0px;
}
.mainIcons {
	position: absolute;
	height: 15%;
	width: 35%;
	left: 10px;
	top: 10px;
	background-image: url(logo.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.logo {
position: fixed;
z-index: 1;

}
.logo img {
width: 200px;
height: 100px;
}
.logo img:nth-child(4) {
margin-right: 20px;
}

/*.aboutHead hr {
	width: 30%;
	height: 1px;
	border-top: 1px solid black;
	margin-bottom: 35px;
}
/*.aboutImg {
	width: 50%;
	height: 100%;
	display: table-cell;
	background: url('../images/aboutImg.jpg');
	background-attachment: fixed;
	background-size: 100% 100%;
}
*/

/* About Section */



/* Team Memnbers Display CSS */


.social-links{
	width:200px;
	padding-top: 30px;
	padding-left: 90px;
	display: flex;
  }
   .social-links a {
	font-size: 28px;
   
	
	color: #eee;
	
	padding: 10px 0;
	
	margin-right: 20px;
	border-radius: 50%;
	text-align: center;
	width: 66px;
	height: 36px;
	transition: 0.3s;
   }
   .follow{
font-size:20px;
padding-top:60px;
padding-left:50px;
color:white;
font-family: black3;

   }
/* reset body */
/*
* {
  background: #000 !important;
  color: #ofo !important;
  outline: solid #f00 1px !important;
} */
@font-face {
	font-family: Hey August; 
	src: url(../fonts/font/Hey\ August.ttf) format(truetype);
  }
  @font-face {
	font-family: Black3; 
	src: url(../fonts/font/NexaRustSlab-Trial-Black3.ttf) format(truetype);
  }

body {
	margin: 0;
	padding: 0;
	
	/*background-color: #F7F7F7; //Reference Change It*/
background-color: transparent;
	overflow: hidden;
	/* background: linear-gradient(to bottom right, #000046, #1CB5E0);*/
}
body.infoActive {
	overflow: hidden;
}
body, html::scrollbar {
	display: none;
}
.scrolllock {
overflow: hidden;
}
 /**********
}
}
https://gist.github.com/unruthless/413930

 ***********/
 sub, sup {
  /* Specified in % so that the sup/sup is the
     right size relative to the surrounding text */
  font-size: 85%;
  font-family: 'black3';

  /* Zero out the line-height so that it doesn't
     interfere with the positioning that follows */
  line-height: 0;

  /* Where the magic happens: makes all browsers position
     the sup/sup properly, relative to the surrounding text */
  position: relative;

  /* Note that if you're using Eric Meyer's reset.css, this
     is already set and you can remove this rule */
  vertical-align: baseline;
}

sup {
  /* Move the superscripted text up */
  top: -1em;
}

sub {
  /* Move the subscripted text down, but only
     half as far down as the superscript moved up */
  bottom: -0.25em;
}
/*  reset for Menu Icon */

@media (min-width: 844px ) {

a {
 	text-decoration: none;
 	color: #9acd91;
 }
 *, *::after, *::before {
 	box-sizing: border-box;
 }

 #title {
 	position: relative;
 

 	left:230px;
text-align:right;
top:180px;
 	transform: translate(-50%, -45%);
 }
 .title img {
 	width: 600px;
	height:500px;

 }
 #title span{
color:rgb(0, 170, 255);
 }
 #title h1, #title h1::before, #title h1::after {
 	color: white;
 	line-height: 1.1em;
 
 	font-family: 'Hey August';

 	font-size: 80px;
 	letter-spacing: 2px;
 }
 .registerButton {
 	font-family: 'black3';
 	position: relative;
 	top: 40%;
 	left: 40%;
 }
/* .title h1::before {
 	content: 'SPE';
 	line-height: 1.1em;
 	text-align: center;
 	font: normal normal normal 60px/1.4em avenir-lt-w01_85-heavy1475544,sans-serif;
 	position: absolute;
 	bottom: 40px;
 	left: 30%;
 	font-weight: 700;
 }
 .title h1::after {
 	content: '2K18';
 	line-height: 1.1em;
 	text-align: center;
 	font: normal normal normal 60px/1.4em avenir-lt-w01_85-heavy1475544,sans-serif;
 	position: absolute;
 	left: 60%;
 	bottom: -40px;
 	font-weight: 700;
 }*/ .logo {
 	position: fixed;
 	z-index: 1;
	 margin-top: -40px;
	 margin-left: 40px;
 }
 .logo img {
 	width: 450px;
 	height: 200px;
 	margin-top: 0px;

 }





}
.social-links{
	width:200px;
	padding-top: 30px;
	padding-left: 90px;
	display: flex;
  }
   .social-links a {
	font-size: 28px;
   
	background: #222636;
	color: #eee;
	
	padding: 5px 0;

	margin-right: 30px;
	border-radius: 50%;
	text-align: center;
	width: 66px;
	height: 36px;
	transition: 0.3s;
   }
   .follow{
font-size:20px;
padding-top:60px;
padding-left:50px;
color:white;
font-family: black3;

   }

   @media (max-width:400px) {
	#mainbox {
	
		background-image: url(../images/index/index5.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		background-blend-mode: multiply;
	  background-color:grey;
	  opacity: 90%;
		height: 700px;
		animation: change 15s 5;
		transition: 3s ease-in-out;
	  }
	  #logo {
		position: fixed;
		z-index: 1;
	}
	#logo img {
		width: 300px;
		height: 100px;
		margin-top: 20px;
	}
	  
	  @keyframes change {
		0%{
			background-image: url(../images/index/index3.jpg);
		}
		40% {
		  background-image: url(../images/index/index2.jpg)
		}
	  
		70% {
		  background-image: url(../images/index/index12.jpg)
		}
	  100%{
		background-image: url(../images/index/index4.jpg);
	  }
	  
	
	}
   }
